<p id="notice"><%= notice %></p>

<p>
  <strong>User agent:</strong>
  <%= @event.user_agent %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @event.ip %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
